<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="position: relative">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Quản lý học sinh</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/my/{{id_hk}}">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my/{{id_hk}}/tongket">Xem tổng kết</a>
                </li>
                <div class="d-flex" style="position: absolute; right: 100px">
                    {%if current_user.is_authenticated %}
                     <li class="nav-item">
                        <a class="nav-link text-success" href="/"> &#9989{{current_user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my/{{id_hk}}/logout">Đăng xuất</a>
                    </li>

                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="/my/{{id_hk}}/login">Đăng nhập</a>
                    </li>
                    {%endif%}
                </div>
            </ul>
        </div>
    </div>
</nav>